<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>

    <%- include('./partials/header.ejs')  %>

    <div class="home-body">
      <div>
        <img class="home-picture" src="me-color.png">
      </div>
      <div>
        <p class="bio-text">Hello! My name is Aiden. I am a student at the University of Central 
          Florida, majoring in Computer Science.
        </p>
      </div>
    </div>

  </body>
</html>