<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>


    <%- include('./partials/header.ejs') %>

    <div class="portfolio-cards">
      <div class="card">
        <div class="card-title"><p >ACM Orientation Drone</p></div>
        <div class="card-picture"><img class="project-picture" src="orientation-drone.png"></div>
        <div class="card-description"><p>The orientation drone project started through the ACM organization at UCF has the goal of helping the university by developing a drone that can assist with capturing pictures and videos that will be used in future UCF orientations. I've used python libraries such as mediapipe and cv2 to create gesture recognition for the drone along with voice recognition.</p></div>
      </div>
      <div class="card">
        <p></p>
      </div>
      <div class="card">
        <p></p>
      </div>
    </div>

  </body>
</html>