<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>

    <%- include('./partials/header.ejs')  %>
    <div class="resume">
      <embed src="Aiden-Letourneau-Resume.pdf" width="600" height="700">
      <a class="download-link" href="Aiden-Letourneau-Resume.pdf" download>Download</a>
    </div>
    
    
    
  </body>
</html>